<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="/static/css/estilos.css">

</head>
<body>
<h1>FORMULARIO DE NOTAS</h1>
<form method="POST">
    <label for="nota1">Nota 1:</label><br>
    <input type="number" name="nota1" min="10" max="70" required><br>
    <label for="nota2">Nota 2:</label><br>
    <input type="number" name="nota2" min="10" max="70" required><br>
    <label for="nota3">Nota 3:</label><br>
    <input type="number" name="nota3" min="10" max="70" required><br>
    <label for="asis">Asistencia (%):</label><br>
    <input type="number" name="asis" min="0" max="100" required><br>
    <input type="submit" value="Enviar">
</form>
{% if promedio and estado %}
    <h2>Resultado</h2>
    <p>Promedio: {{ promedio }}</p>
    <p>Estado: {{ estado }}</p>
{% endif%}
</body>
</html>