<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="/static/css/estilos.css">

</head>
<body>
<form method="POST">
    <label for="nom1">Nombre 1:</label><br>
    <input type="text" name="nom1" required><br>
    <label for="nom2">Nombre 2:</label><br>
    <input type="text" name="nom2" required><br>
    <label for="nom3">Nombre 3:</label><br>
    <input type="text" name="nom3" required><br>
    <input type="submit" value="Enviar">
</form>
{% if nomlar and lon %}
    <p>El nombre con mayor cantidad de caracteres es : {{ lon }}</p>
    <p>El nombre tiene : {{ nomlar }} caracteres</p>
{% endif%}
</body>
</html>